/*
* Global attributes
*/

/* Padding for elents under the nav */
.below-nav {
    padding-top: 4rem;
}

/* Extend content to 100% of height */
.vheight-100 {
    min-height: 100vh;
}



/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 2%;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



/*
* Sidebar
*/

.list-group-item {
    background-color: transparent;
}

.list-group-item.active {
    background-color: #0050fde7;
}

.list-group-item-action:hover {
    background-color: #f7a000bd;
}



/* 
* Main Area 
*/

main h1 {
    margin-left: 1rem;
    margin-right: 1rem;

}

/* Class for important tasks */
.important {
    color: red;
}

/* Add task button */
.fixed-right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
}